.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.logo-images {
  position: relative;
}

.gear-logo {
  animation: App-logo-spin infinite 20s linear;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  z-index: 2;
}

.main-logo {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  z-index: 1;
}

.App-header {
  height: 150px;
  padding: 20px;
  background-color: #00bbd2;
}

.App-header h2 {
  margin-top: 110px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.staff-member {
}
.staff-member img {
  height: 80px;
}
